# Database
DB_PASSWORD=changeme_in_production

# Nakama secrets
NAKAMA_SERVER_KEY=defaultkey
NAKAMA_ENCRYPTION_KEY=changeme_in_production
NAKAMA_HTTP_KEY=changeme_in_production

# Public hostname or IP of the EC2 instance (used by frontend to connect to Nakama)
PUBLIC_HOST=localhost
